services:
    _defaults:
        autowire: true
        autoconfigure: true

    ErrorWatch\Symfony\Service\TransactionCollector: ~

    ErrorWatch\Symfony\Service\TransactionSender:
        arguments:
            $client: '@ErrorWatch\Symfony\Http\MonitoringClientInterface'
            $enabled: '%error_watch.apm.enabled%'
            $environment: '%error_watch.environment%'

    ErrorWatch\Symfony\EventSubscriber\RequestSubscriber:
        arguments:
            $collector: '@ErrorWatch\Symfony\Service\TransactionCollector'
            $sender: '@ErrorWatch\Symfony\Service\TransactionSender'
            $enabled: '%error_watch.apm.request_tracking%'
            $excludedRoutes: '%error_watch.apm.excluded_routes%'
            $breadcrumbService: '@ErrorWatch\Symfony\Service\BreadcrumbService'
        tags:
            - { name: kernel.event_subscriber }
