services:
    _defaults:
        autowire: true
        autoconfigure: true

    ErrorWatch\Symfony\Http\MonitoringClient:
        arguments:
            $endpoint: '%error_watch.endpoint%'
            $apiKey: '%error_watch.api_key%'

    ErrorWatch\Symfony\Http\MonitoringClientInterface:
        alias: ErrorWatch\Symfony\Http\MonitoringClient

    ErrorWatch\Symfony\Service\FingerprintGenerator: ~

    ErrorWatch\Symfony\Service\LevelMapper: ~

    ErrorWatch\Symfony\Service\BreadcrumbService:
        arguments:
            $maxBreadcrumbs: '%error_watch.breadcrumbs.max_count%'

    ErrorWatch\Symfony\Service\UserContextService:
        arguments:
            $security: '@?Symfony\Bundle\SecurityBundle\Security'
            $requestStack: '@request_stack'
            $captureIp: '%error_watch.user_context.capture_ip%'

    ErrorWatch\Symfony\Service\SessionReplayManager:
        arguments:
            $endpoint: '%error_watch.endpoint%'
            $apiKey: '%error_watch.api_key%'
            $enabled: '%error_watch.replay.enabled%'
            $debug: '%error_watch.replay.debug%'
            $sampleRate: '%error_watch.replay.sample_rate%'
            $release: '%error_watch.release%'

    ErrorWatch\Symfony\Service\ErrorSender:
        arguments:
            $enabled: '%error_watch.enabled%'
            $environment: '%error_watch.environment%'
            $release: '%error_watch.release%'
            $client: '@ErrorWatch\Symfony\Http\MonitoringClientInterface'
            $levelMapper: '@ErrorWatch\Symfony\Service\LevelMapper'

    ErrorWatch\Symfony\Service\ErrorSenderInterface:
        alias: ErrorWatch\Symfony\Service\ErrorSender

    ErrorWatch\Symfony\EventSubscriber\ExceptionSubscriber:
        arguments:
            $errorSender: '@ErrorWatch\Symfony\Service\ErrorSenderInterface'
            $breadcrumbService: '@ErrorWatch\Symfony\Service\BreadcrumbService'
            $userContextService: '@ErrorWatch\Symfony\Service\UserContextService'
            $breadcrumbsEnabled: '%error_watch.breadcrumbs.enabled%'
            $userContextEnabled: '%error_watch.user_context.enabled%'
        tags:
            - { name: kernel.event_subscriber }
