services:
    _defaults:
        autowire: true
        autoconfigure: true

    Makfly\ErrorWatch\Http\MonitoringClient:
        arguments:
            $endpoint: '%error_monitoring.endpoint%'
            $apiKey: '%error_monitoring.api_key%'

    Makfly\ErrorWatch\Http\MonitoringClientInterface:
        alias: Makfly\ErrorWatch\Http\MonitoringClient

    Makfly\ErrorWatch\Service\FingerprintGenerator: ~

    Makfly\ErrorWatch\Service\LevelMapper: ~

    Makfly\ErrorWatch\Service\BreadcrumbService:
        arguments:
            $maxBreadcrumbs: '%error_monitoring.breadcrumbs.max_count%'

    Makfly\ErrorWatch\Service\UserContextService:
        arguments:
            $security: '@?Symfony\Component\Security\Core\Security'
            $requestStack: '@request_stack'
            $captureIp: '%error_monitoring.user_context.capture_ip%'

    Makfly\ErrorWatch\Service\SessionReplayManager:
        arguments:
            $endpoint: '%error_monitoring.endpoint%'
            $apiKey: '%error_monitoring.api_key%'
            $enabled: '%error_monitoring.replay.enabled%'
            $debug: '%error_monitoring.replay.debug%'
            $sampleRate: '%error_monitoring.replay.sample_rate%'
            $release: '%error_monitoring.release%'

    Makfly\ErrorWatch\Service\ErrorSender:
        arguments:
            $enabled: '%error_monitoring.enabled%'
            $environment: '%error_monitoring.environment%'
            $release: '%error_monitoring.release%'
            $client: '@Makfly\ErrorWatch\Http\MonitoringClientInterface'
            $levelMapper: '@Makfly\ErrorWatch\Service\LevelMapper'

    Makfly\ErrorWatch\Service\ErrorSenderInterface:
        alias: Makfly\ErrorWatch\Service\ErrorSender

    Makfly\ErrorWatch\Monolog\ErrorMonitoringHandler:
        arguments:
            $client: '@Makfly\ErrorWatch\Http\MonitoringClientInterface'
            $enabled: '%error_monitoring.enabled%'
            $environment: '%error_monitoring.environment%'
            $release: '%error_monitoring.release%'
            $excludedChannels: '%error_monitoring.monolog.excluded_channels%'
            $captureContext: '%error_monitoring.monolog.capture_context%'
            $captureExtra: '%error_monitoring.monolog.capture_extra%'
            $level: '%error_monitoring.monolog.level%'

    Makfly\ErrorWatch\EventSubscriber\ExceptionSubscriber:
        arguments:
            $errorSender: '@Makfly\ErrorWatch\Service\ErrorSenderInterface'
            $breadcrumbService: '@Makfly\ErrorWatch\Service\BreadcrumbService'
            $userContextService: '@Makfly\ErrorWatch\Service\UserContextService'
            $breadcrumbsEnabled: '%error_monitoring.breadcrumbs.enabled%'
            $userContextEnabled: '%error_monitoring.user_context.enabled%'
        tags:
            - { name: kernel.event_subscriber }
